pip==24.2
toml==0.10.2
wheel==0.37.1
cryptography==41.0.5
lxml==4.9.3
tornado==6.4
setuptools==67.6.0
future==0.18.2
torch==2.1.1+cu118
Flask==2.2.2
Pillow==9.1.1
gTTS==2.4.0
ultralytics==8.3.23
playsound==1.2.2
